:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --main-card-color: hsl(244, 38%, 16%);
  --main-accent-color: hsl(277, 64%, 61%);
  --main-image-color: hsl(277, 100%, 30%);

  --main-heading-color: hsl(0, 0%, 100%);
  --main-text-color: hsla(0, 0%, 100%, 0.75);
  --main-stat-color: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  padding-top: 0.5rem;
  font-size: 11px;
  text-align: center;
  width: 200px;
  text-align: center;
  margin: auto;
}

.attribution a {
  color: var(--main-accent-color);
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.accent-color {
  color: var(--main-accent-color);
}

.container {
  width: 320px;
  border-radius: 1rem;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: 1fr;
}

.image-component {
  background-color: var(--main-image-color);
}

.image-component img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.text-component {
  padding: 1.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--main-card-color);
}

.text-component p {
  line-height: 1.7;
  font-family: 'Inter', sans-serif;
}

.text-component .title {
  color: var(--main-heading-color);
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
}

.text-component .description {
  padding-bottom: 1rem;
  color: var(--main-text-color);
}

.container .stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-component .stat-title {
  color: var(--main-heading-color);
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.text-component .stat-subtitle {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--main-stat-color);
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 1280px){

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    width: 1080px;
  }

  .container .text-component {
    padding: 4rem;
    text-align: left;
    grid-area: left;
  }

  .text-component .title {
    font-size: 2.25rem;
  }

  .text-component .description {
    padding-bottom: 4rem;
  }

  .container .stats {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
    gap: 3rem;
  }

  .container .stat {
    align-self: flex-end;
  }

  .attribution {
    width: 100%;
  }
}
